body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:  #E1A06C;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #E6DFDA;
    color: #DF829D;
}

.hero {
    background: url('img/hero-background.png') no-repeat center center/cover;
    height: 150px;
    color: dark;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    padding-bottom: none;
    color: white; /* Text color */
    -webkit-text-stroke: 1px black; /* Stroke width and color */
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px -1px 0 #000; /* Optional: additional shadow for better visibility */
}


.hero p.transparent-background {
    background-color: #E1A06C;
    color: #333333;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.novels{
    height: 100%;
}

.packages{
    background-color: #E1A06C;
    height: 100%;
}

.order-form{
    background-color: #ffffff;
    height: 310px;
}


.novels, .packages, .order-form {
    padding: 20px;
    text-align: center;
}

.novel-item, .package-item {
    display: inline-block;
    margin: 10px;
    height: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 200px;
}

.list-paket{
    text-align: left;
}

.novel-item img, .package-item img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #E1A06C;
    color: dark;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .novel-item, .package-item {
        width: 100%;
    }
}

.error {
    color: red;
}

.success {
    color: green;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 200px;
    background-color: #E1A06C;
}